<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi Kung Dojo Aulas Regulares</title>
    <meta name="keywords" content= "" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ base.url }}/css/base.css">
    <link rel="stylesheet" href="{{ base.url }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ base.url }}/css/layout.css">
    <link rel="stylesheet" href="{{ base.url }}/css/style.css">
    <link rel="stylesheet" href="{{ base.url }}/css/comment.css">
  </head>

  <body>
       <div class="container navbar navbar-top">
          <div class="sixteen columns offset-by-three">
            <ul>
            </ul>
          </div>
    </div> 

    <div class="container">
      <div class="fifteen columns offset-by-one">
        <p class="p1"><span class="s1">Zhan Zhuang Chi Kung</span><span class="s2"> </span><span class="s3">|</span><span class="s4"> </span><span class="s5">Aulas Regulares</span></p>
            {{ content }}
     </div>
</div> 
</body>
</html>
