<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Zhan Zhuang Chi Kung</title>
    <meta name="keywords" content= "" />
    <meta name="description" content="" />
    <link rel="alternate" type="application/atom+xml" title="Aulas Regulares" href="http://devagar.github.io/regulares/atom.atom" />
    <link rel="stylesheet" href="http://devagar.github.io/regulares/base.css">
    <link rel="stylesheet" href="http://devagar.github.io/regulares/skeleton.css">
    <link rel="stylesheet" href="http://devagar.github.io/regulares/layout.css">
    <link rel="stylesheet" href="http://devagar.github.io/regulares/style.css">
  </head>
  <body>
    <div class="container navbar navbar-top">
      <div class="fifteen columns offset-by-two">
        <ul>
          <li> <a href="mailto:lourenco.azevedo@gmx.com?Subject=Pedido de informção">Contactar-me</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="ten columns"> 
        <p><h1>Zhan Zhuang Chi Kung</h1></p>
        <p><h4>::E se fosse possível praticar todos os dias</h3></p>
        <br>
            {{ content }}
     </div>
    </div>   
</strong>

</body>
</html>
